:root {
    --mainGameColor: #dcf9fa;
    --background: #e7e5e5;
    --border-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#root {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startGame {
    background-color: var(--mainGameColor);
    width: 80vh;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: var(--border-shadow);
}
.startGame:hover .monopoly{
    transform: scale(1.1);
}
.monopoly {
    color: white;
    border: 4px solid white;
    background: rgb(241,6,6);
    background: linear-gradient(180deg, rgba(241,6,6,1) 33%, rgba(83,3,17,0.7764355742296919) 100%);
    padding: 5px 15px;
    box-shadow: var(--border-shadow);
    transition: 1s ease-in-out;
}
.figuresCont {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.figuresCont div {
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.figuresCont div:hover {
    box-shadow: var(--border-shadow);
}
.figuresCont img {
    width: 100px;
}
.gameBoard {
    background-color: var(--mainGameColor);
    box-shadow: var(--border-shadow);
    width: 90vh;
    height: 90vh;
    display: grid;
    grid-template-columns: 3fr repeat(5,2fr) 3fr;
    grid-template-rows: 3fr repeat(5,2fr) 3fr;
    grid-template-areas: 'divstart div1 div2 div3 div4 div5 divrest1'
                        'div20 empty empty empty empty empty div6'
                       ' div19 empty empty empty empty empty div7'
                       ' div18 empty empty empty empty empty div8'
                       ' div17 empty empty empty empty empty div9'
                        'div16 empty empty empty empty empty div10'
                        'divrest2 div15 div14 div13 div12 div11 divrest3';
    gap:3px;
}
.gameDiv {
    box-shadow:0 0 0 3px black;
    word-break: break-word;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.streetColor {
    width: 100%;
    height: 20px;
}
.price {
    color: darkgreen;
}
