:root {
    --mainGameColor: #dcf9fa;
    --background: #e7e5e5;
    --border-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root {
    background-color: var(--background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.startGame {
    background-color: var(--mainGameColor);
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: var(--border-shadow);
}

.startGame:hover .monopoly {
    transform: scale(1.1);
}

.figuresCont {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.figuresCont div {
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.figuresCont div:hover {
    box-shadow: var(--border-shadow);
}

.figuresCont img {
    width: 100px;
}

.gamePage {
    display: flex;
    gap: 10px;
}

.gameBoard {
    background-color: var(--mainGameColor);
    box-shadow: var(--border-shadow);
    width: 60vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 3fr repeat(5, 2fr) 3fr;
    grid-template-rows: 3fr repeat(5, 2fr) 3fr;
    grid-template-areas: 'divstart div1 div2 div3 div4 div5 divrest1'
                        'div20 empty empty empty empty empty div6'
                       ' div19 empty empty empty empty empty div7'
                       ' div18 empty empty empty empty empty div8'
                       ' div17 empty empty empty empty empty div9'
                        'div16 empty empty empty empty empty div10'
                        'divrest3 div15 div14 div13 div12 div11 divrest2';
    gap: 3px;
}

.diceCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gameDiv {
    box-shadow: 0 0 0 3px black;
    word-break: break-word;
    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.activeCard {
    background: rgb(0, 0, 0);
    background: linear-gradient(184deg, rgba(0, 0, 0, 0.468312324929972) 0%, rgba(0, 0, 0, 0.7764355742296919) 100%);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.activeCard:hover {
    background-color: grey;
}

.activeCard:hover .buyBtn, .activeCard:hover .price, .activeCard:hover .playerFigure {
    transform: scale(1.1);
}

.streetColor {
    width: 100%;
    height: 25px;
}

.playerCard {
    background-color: var(--mainGameColor);
    box-shadow: var(--border-shadow);
    padding: 10px;
    border-radius: 20px;
    height: fit-content;
    max-height: 90vh;
    width: 30vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.boughtStreet {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    margin: 5px 0;
    opacity: 0.8;
}

.boughtStreet:hover {
    opacity: 1;
    box-shadow: var(--border-shadow);
}

.boughtStreet button {
    padding: 5px;
    background-color: var(--background);
    border-radius: 10px;
}

.diceImg {
    width: 50px;
}

.playerFigure {
    width: 50px;
    margin: auto;
    transition: 0.3s ease-in-out;
}

.boardCentre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.monopoly {
    width: 80%;
    transition: 1s ease-in-out;
}

.rollBtn {
    padding: 10px;
    background-color: green;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: var(--border-shadow);
    transition: 0.3s ease-in-out;
}

.rollBtn:hover {
    transform: scale(1.1);
}

.buyBtn {
    transition: 0.3s ease-in-out;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.activeCard .price {
    transition: 0.3s ease-in-out;
    color: white;
}
.error {
    height: 20px;
}
.sellBtn {
    width: 40%;
}


